<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
   <head>
       <title>TlfBog - {{title}}</title>
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/static/knass.css" rel="stylesheet" type="text/css" />
   </head>
   <body>
	<nav>
		{% if g.user.is_authenticated() %}
		<a href="/index">Base</a> |
			{% if g.user.is_admin() %}
			<a href="/admin">Admin</a> |
			{% endif %}
		<a href="/logout">Log out</a> | {% endif %}
		<a href="#">Credits</a>
	</nav>
	<hr>
	
	{% block content %}{% endblock %}
   </body>
</html>
